#source {
  display:none;
}

table {
    margin:auto;
}

table, tr, td {
border: 2px groove hsl(22,55%, 50%);
font-size: 2em;
}

td {
    padding: 5px;
    width:10px;
    height:10px;
}

#box {
    font-size: 2em;
  
}

#lookfor{
    display: flex;
    align-items: center;
}

.seeker {
   height: 30px;
   margin-bottom: 25px;
   width: 150px;
}

.highlight{
    font-family: Arial, Helvetica, sans-serif; 
}